body {
    margin:0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-size: 16px;
    width: 100%;
    
}



.margin{
    margin: 0 25px;
}

.back{
    background-color: rgb(219, 219, 241);
    padding: 10px;
    color: #241424;
    border-radius: 25px;
    display:  flex;
}

.size{
    width: 75px;
    height: 75px;
}

.align{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.align2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.alignself{
    position: absolute;
    left: 20px;
    top:11px;
}


.box{
    display: flex;
    flex-direction: row;
    align-items:  center;
    gap: 75px;
    
}

.image{
    width: 500px;
    border-radius: 10px;
    box-shadow: 20px -20px 10px rgb(206, 206, 206);
    height: auto;

    transition: transform 1s;
}

.image:hover{
    transform: scale(1.1);
    position: relative;
    top:3px;
    left:1px;
}

.sticky{
    position: sticky;
    top:20px;
}


.whithe-off{
    mix-blend-mode: multiply;
}

.floating_box{
    background-color: black;
    color: aliceblue;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 25px 10px 10px gray;
}

.floating_box:hover{
    cursor: pointer;
    
    position: relative;
    top: 2px;
    left: 1px;
}



.create{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 85px;
}

.space{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
}

.pend{
    display: flex;
    
    border-radius: 25px;
}


.border{
    border-radius: 10px;
    box-shadow: -25px -10px 10px rgb(206, 206, 206);
    width: 500px;
    height: auto;
    transition: transform 1s;
}

.border:hover{
    transform: scale(1.1);
    position: relative;
    top:3px;
    left:1px;
}



.bordercir{
    border-radius: 10px;
    box-shadow: -25px -10px 10px rgb(206, 206, 206);
    width: 500px;
    height: auto;

    transition: transform 1s;
}

.bordercir:hover{
    transform: scale(1.1);
    position: relative;
    top:3px;
    left:1px;
}

.bottom{
    display: flex;
    margin-top: 50px;
    width: 100%;
    flex-direction: row;
    background-color: black;
    color: rgb(0, 0, 0);
    align-items: end;
    flex-grow: 1;
}

.gap{
    gap: 30px;
}

.marginbottom{
    margin-bottom: 20px;
}



@media screen and (min-width: 576px) and (max-width: 991px) {
    .align{
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
        margin-top: 10px;
        transform: scale(1.1);
       
    }
    .yellow{
        align-items: start;
    }
   


    .image{
        width: 900px;
        height: auto;
    }


    .border{
        width: 900px;
        height: auto;
    }


    .bordercir{
        width: 900px;
        height: auto;
    }


    .box{
        flex-direction: column;
        align-items: center;
        gap: 20px;


    }


    .create{
        flex-direction: column-reverse;
        gap:20px;
    }


    .alignself {
        position: absolute;
        top:20px;
        left:60px;
        margin-bottom: 1rem; /* Let it flow with the normal document layout */
       
       
       
    }


    .margin {
        margin: 0 10px;
    }


    .floating_box{
        width: 900px;
        height: auto;
    }

    .bottom{
        visibility: hidden;
    }

    

}



