.back{
    background-color: rgb(219, 219, 241);
    color: #241424;
}

.size{
    width: 75px;
    height: 75px;
}

.align{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 200px;
}

.box{
    display: flex;
    flex-direction: row;
    align-items:  center;
    gap: 75px;
}

.image{
    height: 320px;
    width: 470px;
}

.whole_page{
    background-color: antiquewhite;
}

.whithe-off{
    mix-blend-mode: multiply;
}

