body {
    margin:0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-size: 16px;
}



.margin{
    margin: 0 25px;
}

.back{
    background-color: rgb(219, 219, 241);
    padding: 10px;
    color: #241424;
    border-radius: 25px;
    display:  flex;
}

.size{
    width: 75px;
    height: 75px;
}

.align{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.align2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.alignself{
    position: absolute;
    left: 20px;
    top:11px;
}


.box{
    display: flex;
    flex-direction: row;
    align-items:  center;
    gap: 75px;
    
}

.image{
    width: 470px;
    border-radius: 10px;
    box-shadow: 20px -20px 10px rgb(206, 206, 206);
    max-width: 470px;
    height: auto;
}

.sticky{
    position: sticky;
    top:20px;
}


.whithe-off{
    mix-blend-mode: multiply;
}

.floating_box{
    background-color: black;
    color: aliceblue;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 25px 10px 10px gray;
}

.floating_box:hover{
    cursor: pointer;
    background-color: #3a2b3a;
    position: relative;
    top: 2px;
    left: 1px;
}



.create{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 85px;
}

.space{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
}

.pend{
    display: flex;
    background-color: #3a2b3a;
    border-radius: 25px;
}


.border{
    border-radius: 10px;
    box-shadow: -25px -10px 10px rgb(206, 206, 206);
    width: 420px;
    height: 238px;
}



.bordercir{
    border-radius: 10px;
    box-shadow: -25px -10px 10px rgb(206, 206, 206);
    width: 500px;
    height: 300px;
}

.bottom{
    display: flex;
    margin-top: 50px;
    width: 100%;
    flex-direction: row;
    background-color: black;
    color: rgb(0, 0, 0);
    align-items: end;
    flex-grow: 1;
}

.gap{
    gap: 30px;
}

.marginbottom{
    margin-bottom: 20px;
}


@media screen and (max-width: 576px) {
    .align{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .box{
        flex-direction: column;
        align-items: center;
        gap: 20px;

    }

    .create{
        flex-direction: column-reverse;
        gap:20px;
    }

    .alignself {
        position: static; 
        margin-bottom: 1rem; /* Let it flow with the normal document layout */
      }

      .margin {
        margin: 0 10px;
      }
  }